html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #3C2A21;
    background: #E5E5CB;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(29, 116, 229, 0); /* Initially invisible */
    transition: background 0.3s ease;
    padding: 10px 0;
    z-index: 1000; /* Ensure it's above other elements */
    text-align: center;
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar li {
    display: inline;
    margin: 0 20px; 
}
.navbar a {
    text-decoration: none;
    color: #D5CEA3;
    font-weight: bold;
    transition: color 0.3s ease;
}
.navbar a:hover {
    color: #ddd; 
}
.scrolled {
    background: #1d140c; 
}
html {
scroll-behavior: smooth; 
}
.fullscreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1A120B;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;
    text-align: center;
    position: relative;
    margin-bottom: 0px;
}
.LandingText {
    color: #D5CEA3;
    z-index: 2;
    text-align: center;
}
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}
.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4em;
    font-weight: bold;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
}
h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
}
.typing-animation {
    position: relative;
    bottom: 40px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 2em;
    font-family: 'Courier New', monospace;
    white-space: nowrap;
    overflow: hidden;
    width: 350px; 
    animation: typing 6s steps(20) infinite, blink 0.75s step-end infinite;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1; 
    pointer-events: auto;
}

.wave-transition {
    position: relative;
    height: 30vh;
    width: 100%;
    margin-top: -25vh;
    padding: 0;
    z-index: 1;
    overflow: hidden;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 101%;
    background-repeat: repeat-x; 
    background-size: 50% 100%;   
    background-position: 0 bottom;
    transform-origin: center bottom;
    bottom: auto;
}

.wave1 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23E5E5CB'/%3E%3C/svg%3E");
    animation: wave 12s linear infinite;
    z-index: 5;
    opacity: 1;
}
.wave2 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23D5CEA3'/%3E%3C/svg%3E");
    animation: wave 18s linear infinite;
    z-index: 4;
    height: 99%;
    opacity: 1;
}
.wave3 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%233C2A21'/%3E%3C/svg%3E");
    animation: wave 24s linear infinite;
    z-index: 3;
    height: 99%;
    opacity: 1;
}
@keyframes wave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.container {
    max-width: 1200px;
    background: #E5E5CB;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-align: center;
    font-size: 20px;
}
.about, .experience, .projects {
    padding: 60px 20px;
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
    transition: color 0.s ease-in-out;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
img:hover {
    transform: scale(1.05);
}
.project-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
.project-item img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.project-item:hover img {
    transform: scale(1.05);
    border-radius: 8px;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #1A120B;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 1400px) {
    .wave-transition {
        position: relative;
        height: 20vh;
        width: 100%;
        margin-top: -15vh;
        padding: 0;
        z-index: 1;
        overflow: hidden;
    }
    .wave {
        position: absolute;
        left: 0;
        width: 200%;
        height: 101%;
        background-repeat: repeat-x; 
        background-size: 50% 100%;   
        background-position: 0 bottom;
        transform-origin: center bottom;
        bottom: auto;
    }
    
    .wave1 {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23E5E5CB'/%3E%3C/svg%3E");
        animation: wave 12s linear infinite;
        z-index: 5;
        opacity: 1;
    }
    .wave2 {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23D5CEA3'/%3E%3C/svg%3E");
        animation: wave 18s linear infinite;
        z-index: 4;
        height: 99%;
        opacity: 1;
    }
    .wave3 {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%233C2A21'/%3E%3C/svg%3E");
        animation: wave 24s linear infinite;
        z-index: 3;
        height: 99%;
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {

    html{
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        color: #3C2A21;
        background: #E5E5CB;
    }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(29, 116, 229, 0);
        transition: background 0.3s ease;
        padding: 10px 0;
        z-index: 1000; 
        text-align: center;
    }
    .navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .navbar li {
        display: inline;
        margin: 0 20px; 
    }
    .navbar a {
        text-decoration: none;
        color: #D5CEA3;
        font-weight: bold;
        transition: color 0.3s ease;
    }
    .navbar a:hover {
        color: #ddd; 
    }
    .scrolled {
        background: #1d140c; 
    }
    html {
    scroll-behavior: smooth; 
    }
    .fullscreen {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #1A120B;
        user-select: none;
        -webkit-user-select: none; 
        -moz-user-select: none;    
        -ms-user-select: none;
        text-align: center;
        position: relative;
        margin-bottom: 0px;
    }
    .LandingText {
        color: #D5CEA3;
        z-index: 2;
        text-align: center;
    }
    h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 4em;
        font-weight: bold;
    }
    h2 {
        font-family: 'Montserrat', sans-serif;
        text-align: center; 
    }
    h3 {
        font-family: 'Montserrat', sans-serif;
        text-align: center; 
    }
    .typing-animation {
        position: relative;
        bottom: 40px; 
        left: 50%; 
        transform: translateX(-50%); 
        font-size: 2em;
        font-family: 'Courier New', monospace;
        white-space: nowrap;
        overflow: hidden;
        width: 350px; 
        animation: typing 6s steps(20) infinite, blink 0.75s step-end infinite;
    }
    
    #particles-js {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 1; 
        pointer-events: auto;
    }
    
    .wave-transition {
        position: relative;
        height: 15vh;
        width: 100%;
        margin-top: -10vh;
        padding: 0;
        z-index: 1;
        overflow: hidden;
    }
    .wave {
        position: absolute;
        left: 0;
        width: 200%;
        height: 101%;
        background-repeat: repeat-x; 
        background-size: 50% 100%;   
        background-position: 0 bottom;
        transform-origin: center bottom;
        bottom: auto;
    }
    
    .wave1 {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23E5E5CB'/%3E%3C/svg%3E");
        animation: wave 12s linear infinite;
        z-index: 5;
        opacity: 1;
    }
    .wave2 {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23D5CEA3'/%3E%3C/svg%3E");
        animation: wave 18s linear infinite;
        z-index: 4;
        height: 99%;
        opacity: 1;
    }
    .wave3 {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%233C2A21'/%3E%3C/svg%3E");
        animation: wave 24s linear infinite;
        z-index: 3;
        height: 99%;
        opacity: 1;
    }
    @keyframes wave {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
    .container {
        max-width: 1200px;
        background: #E5E5CB;
        position: relative;
        z-index: 2;
        margin: auto;
        padding: 20px;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
        text-align: center;
        font-size: 20px;
    }
    .about, .experience, .projects {
        padding: 60px 20px;
        background: #f9f9f9;
        border-bottom: 1px solid #ddd;
        transition: color 0.s ease-in-out;
    }
    
    .image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 15px;
    }
    img {
        width: 100%;
        border-radius: 8px;
        transition: transform 0.3s ease;
    }
    img:hover {
        transform: scale(1.05);
    }
    .project-item {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
    }
    .project-item img {
        width: 100%;
        border-radius: 8px;
        transition: transform 0.3s ease;
    }
    .project-item:hover img {
        transform: scale(1.05);
        border-radius: 8px;
    }
    .project-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0;
        background: rgba(40, 44, 52, 0.9); 
        color: white;
        transition: height 0.3s ease; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        padding: 10px;
        opacity: 0;
        border-radius: 8px; 
    }
    .project-item:hover .project-overlay {
        height: 80%; 
        opacity: 1;
    }
    .project-overlay h3 {
        margin: 0;
        font-size: 1.2em;
        font-weight: bold;
    }
    .project-overlay p {
        margin: 5px 0 0;
        font-size: 0.9em;
    }
    .project-overlay {
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 10px;
        padding-left: 10px;
    }
    footer {
        text-align: center;
        padding: 10px 0;
        background: #1A120B;
        color: white;
        position: relative;
        bottom: 0;
        width: 100%;
    }


}